<div class="row">
    <!-- https://getbootstrap.com/docs/4.0/components/navs/ -->
<!--ul class="nav nav-tabs" id="tab_subject_list" role="tablist">
{% for c in grades %}
  <li class="nav-item">
    <a class="nav-link {% if active == c.subject_id %} active {% endif %}" id="{{ c.subject_name }}-tab" data-toggle="tab" href="#{{ c.subject_name }}" role="tab" aria-controls="{{ c.subject_name }}">{{ c.subject_name }}</a>
  </li>
{% endfor %}
</ul-->
</div>
<div class="row">
{% for c in grades %}
  <form method="post">
  <input type="hidden" value="{{ c.week }}" name="week">
  {% csrf_token %}
  <h4> Simulacro de {{ c.subject_name }} para la semana {{ request.week }}</h4>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th> Nombres y Apellidos </th>
        {% if request.has_weekly_grades %}
          <th> Nota Simulacro </th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for s in c.student %}
      <tr>
        <td> {{ s.name }} </td>
        {% if request.has_weekly_grades %}
          <td> <input type="text" value="{{ s.simulacro }}" name="u{{ s.student_id }}"> </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <input type="submit" value="Guardar">
  </form>
{% endfor %}
</div>
