<div class="row">
  <div class="col-md-12">
    <h3>Grado: {{ teacher.grado }} </h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Secci&oacute;n: {{ teacher.seccion }} </h3>
  </div>
</div>
<div class="row">
  <form method="GET" class="form-inline" style="margin-bottom: 20px">
    <div class="col-md-2">
      <label for="week-select">Semana:</label>
    </div>
    <div class="col-md-8">
      <select class="form-control" name="week" id="week-select">
        {% for week in request.weeks %}
        <option {% if request.week == forloop.counter %} selected="true" {% endif %} value="{{forloop.counter}}">Semana {{forloop.counter}} ({{week.start}} -- {{week.end}})</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-2">
      <input type="submit" value="Ver">
    </div>
  </form>
</div>

