{% extends 'base.html' %}

{% block alert_message %}
{% if request.is_student %}
  {% if request.payment_status == 1 %}
    <div class="alert alert-primary" role="alert"> OK </div>
    {% block content %}
    {% endblock %}
  {% elif request.payment_status == 2 %}
    <div class="alert alert-warning" role="alert">
      La mensualidad se encuentra vencida, por favor pague la mensualidad antes de la quincena.
    </div>
  {% elif request.payment_status == 3 %}
    <div class="alert alert-danger" role="alert">
      No se puede mostrar las notas por falta de pago. Por favor, ac&eacute;rquese a secretar&iacute;n para regularizar sus pagos.
    </div>
  {% endif %}
{% endif %}
{% endblock %}

